* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: #0a3d62;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #f1c40f;
}

.cart {
    display: inline-flex;
    padding: 0;
    margin-left: 5px;
    text-decoration: none;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.cart img {
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 0.2rem;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: rgb(6, 27, 30);
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.close-menu {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

@media (max-width: 992px) {
    .navbar {
        padding: 1rem 1.5rem;
    }
    .hamburger {
        display: block;
    }
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 280px;
        height: 100vh;
        background: #0a3d62;
        color: #ffffff;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 80px;
        gap: 1.5rem;
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
    }
    .nav-links.show {
        right: 0;
    }
    .nav-links .cart {
        margin: 10px auto;
        width: fit-content;
    }
    .close-menu {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 1001;
    }

    .logo {
        max-width: 130px;
        font-size: 1rem;
        display: block;
        line-height: 1.4;
        text-align: left;
        padding-left: 5px;
        font-family: 'Times New Roman', Times, serif;
    }
    .logo.hide {
        opacity: 0;
        pointer-events: none;
    }
    .nav-links li {
        width: 100%;
        text-align: center;
    }
    .nav-links a {
        display: block;
        padding: 10px;
        font-size: 1.2rem;
    }
}